h1 {
  color: greenyellow;
  text-align: center;
  font-style: oblique;
  font-size: 80px;
  border: 3px solid purple;
}

.background {
  background-size: cover;
}

h3 {
  text-align: center;
  font-family: fantasy;
  color: greenyellow;
  font-size: 50px;
  border: 3px solid purple;
  padding: 12px;
}

.weld1 {
  width:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
}

.important {
  color: greenyellow;
  text-align: center;
}

.inside {
  list-style-position: inside;
}

.me, .band, .tig {
  width:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
}